
@{
    ViewData["Title"] = "wenzhanglist";
}

<link href="~/moban1648/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/moban1648/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/moban1648/css/normalize.css" rel="stylesheet" />
<link href="~/moban1648/css/nprogress.css" rel="stylesheet" />
<link href="~/moban1648/css/style.css" rel="stylesheet" />

<div class="widget widget_search">
    <div class="row">
        <div class="col-md-6">
            <form class="navbar-form" action="/user/wenzhanglist" method="get">
                <table>
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-search" type="submit">搜索</button>
                        </span>
                    </div>
                </table>
            </form>
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" style="margin-top:10px" id="newwenzhang" type="button">写文章</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" style="margin-top:10px"  onclick="top.topManager.reloadPage()">刷新本页面</button>
        </div>
    </div>
</div>

<div class="content">
    @for (int i = 0; i < (ViewData["dat"] as List<bokeSite.Models.userwenzhangkuozhan>).Count; i++)
    {
        var ak = (ViewData["dat"] as List<bokeSite.Models.userwenzhangkuozhan>)[i];
        if (i == 0 && ak.count == 0)
        {
            continue;

        }
        <article class="excerpt excerpt-5">
            <a class="focus chakanxiangqing" href="#" wenzhangtitle="@ak.wenzhangname" title="@ak.wenzhangname" hreflag="/user/wenzhangdtl?id=@ak.id"><img class="thumb" data-original="images/201610181739277776.jpg" src="~/moban1648/images/201610181739277776.jpg" alt="@ak.wenzhangname" style="display: inline;"></a>
            <header>
                <a class="cat" href="#" title="@ak.leixingming">@ak.leixingming<i></i></a>
                <h2><a href="#" class="chakanxiangqing" wenzhangtitle="@ak.wenzhangname" title="@ak.wenzhangname" hreflag="/user/wenzhangdtl?id=@ak.id">@ak.wenzhangname</a></h2>
            </header>
            <p class="meta">
                <time class="time"><i class="glyphicon glyphicon-time"></i> @ak.xiugaishijian</time>
                <span class="views"><i class="glyphicon glyphicon-eye-open"></i> @ak.dianjiliang</span> <a class="comment chakanxiangqing" wenzhangtitle="@ak.wenzhangname" href="#" title="评论" hreflag="/user/wenzhangdtl?id=@ak.id"><i class="glyphicon glyphicon-comment"></i> @ak.pingluntiaoshu</a>
            </p>
            <p class="note">@ak.content100</p>
        </article>

    }
    <nav class="pagination" style="display: block;">
        <ul>
            @{
                var dat = (ViewData["dat"] as List<bokeSite.Models.userwenzhangkuozhan>)[0];
                int nowpage = Convert.ToInt32(ViewData["nowpage"]);
                int toal =0;
                if (dat.toal % 20 == 0)
                {
                    toal = dat.toal / 20;

                }
                else
                {
                    toal = dat.toal / 20 + 1;

                }
                if (ViewData["leixing"].ToString() == "-1")
                {
                    if (nowpage % 20 == 0)
                    {
                        if (nowpage != 0)
                        {
                            int startpageba = nowpage - 19;
                            <li class="prev-page"><a href="/user/wenzhanglist?page=@(nowpage-2)&pagecount=20">上一页</a></li>
                            for (int i = startpageba; i <= nowpage; i++)
                            {
                                if (i == nowpage)
                                {
                                    <li class="active"><span>@i</span></li>
                                    continue;

                                }
                                <li><a href="/user/wenzhanglist?page=@(i-1)&pagecount=20">@i</a></li>

                            }
                            if (nowpage < toal)
                            {

                                <li class="next-page"><a href="/user/wenzhanglist?page=@(nowpage)&pagecount=20">下一页</a></li>
                            }
                        }

                    }
                    else
                    {
                        int startpageba = nowpage - nowpage % 20 + 1;
                        if (nowpage != 1)
                        {
                            <li class="prev-page"><a href="/user/wenzhanglist?page=@(nowpage - 2)&pagecount=20">上一页</a></li>
                        }
                        int endpage = startpageba + 19;
                        if (endpage > toal)
                        {
                            endpage = toal;

                        }
                        for (int i = startpageba; i <= endpage; i++)
                        {
                            if (i == nowpage)
                            {
                                <li class="active"><span>@i</span></li>
                                continue;

                            }
                            <li><a href="/user/wenzhanglist?page=@(i-1)&pagecount=20">@i</a></li>

                        }
                        if (nowpage < toal)
                        {

                            <li class="next-page"><a href="/user/wenzhanglist?page=@(nowpage)&pagecount=20">下一页</a></li>
                        }

                    }
                    <li><span>共 @toal 页</span></li>
                }
                else
                {
                    if (nowpage % 20 == 0)
                    {
                        if (nowpage != 0)
                        {
                            int startpageba = nowpage - 19;
                            <li class="prev-page"><a href="/user/wenzhanglist?page=@(nowpage-2)&pagecount=20">上一页</a></li>
                            for (int i = startpageba; i <= nowpage; i++)
                            {
                                if (i == nowpage)
                                {
                                    <li class="active"><span>@i</span></li>
                                    continue;

                                }
                                <li><a href="/user/wenzhanglist?page=@(i-1)&pagecount=20">@i</a></li>

                            }
                            if (nowpage < toal)
                            {

                                <li class="next-page"><a href="/user/wenzhanglist?page=@(nowpage)&pagecount=20">下一页</a></li>
                            }
                        }

                    }
                    else
                    {
                        int startpageba = nowpage - nowpage % 20 + 1;
                        if (nowpage != 1)
                        {
                            <li class="prev-page"><a href="/user/wenzhanglist?page=@(nowpage - 2)&pagecount=20&leixing=@ViewData["leixing"]">上一页</a></li>
                        }
                        int endpage = startpageba + 19;
                        if (endpage > toal)
                        {
                            endpage = toal;

                        }
                        for (int i = startpageba; i <= endpage; i++)
                        {
                            if (i == nowpage)
                            {
                                <li class="active"><span>@i</span></li>
                                continue;

                            }
                            <li><a href="/user/wenzhanglist?page=@(i-1)&pagecount=20&leixing=@ViewData["leixing"]">@i</a></li>

                        }
                        if (nowpage < toal)
                        {

                            <li class="next-page"><a href="/user/wenzhanglist?page=@(nowpage)&pagecount=20&leixing=@ViewData["leixing"]">下一页</a></li>
                        }

                    }
                    <li><span>共 @toal 页</span></li>

                }

            }

        </ul>
    </nav>

</div>
<script type="text/javascript" src="~/moban216/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="~/moban216/assets/js/bui-min.js"></script>
<script type="text/javascript" src="~/moban216//assets/js/config-min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.chakanxiangqing').click(function () {
            var ads = $(this).attr('hreflag');
            var wenzhangtitle = $(this).attr('wenzhangtitle');
            if (top.topManager) {
                //打开左侧菜单中配置过的页面
                top.topManager.openPage({
                    id: ads,
                    href: ads,
                    title: wenzhangtitle
                });
            }

        });

        $('#newwenzhang').click(function () {
            var ads = '/user/wenzhangdtl?id=new';
            var wenzhangtitle = '写文章中.......';
            if (top.topManager) {
                //打开左侧菜单中配置过的页面
                top.topManager.openPage({
                    id: ads,
                    href: ads,
                    title: wenzhangtitle
                });
            }

        });

    });
</script>



